<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo2.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <div class="cuerpo">
        <div>
            <img src="../storage/img/Ellipse 12.svg">
        </div>
        <div class="centro">
            <img class="center" src="../storage/img/Ellipse 19.svg">
            <p class="txt1">Total Balance</p>
            <p class="txt2"><span class="mini">$</span> 214,417</p>
        </div>
        <div class="botones">
            <button class="bot1">Assets</button>
            <button class="bot2">Debt</button>
            <button class="bot3">Income</button>
        </div>
        <div class="tabla">
            <img src="../storage/img/image.png">
        </div>
        <div class="pie">
            <img class="tarj" src="../storage/img/tarjeta.svg">
            <img class="equis" src="../storage/img/equis.svg">
            <h1 class="tit">Spending</h1>
            <p class="txt">You forgot to add debt card number at payment #1323. Add it now</p>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>