<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billcoin</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link rel="shortcut icon" href="../storage/img/logo2.png" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo.png">
            </div>
            <div class="logo__titulo">billcoin</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <section class="balance">
            <article class="balance__circle">
            </article>
            <article class="balance__total">
                <div>    
                    <h3>total</h3>
                    <h5>balance</h5>
                    <h2><sub>$</sub> 241,417</h2>
                </div>
            </article>
        </section>
        <section class="report">
            <article class="report__accounting">
                <button>Activos</button>
                <button>Deuda</button>
                <button>Pasivos</button>
            </article>
            <article class="report__week">
                <img src="../storage/img/grafica.png">
            </article>
        </section>
        <section class="process"> 
            <article class="process__card">
                <div class="card__image">
                    <img src="../storage/img/tarjeta.png">
                </div>
                <div class="card__description">
                    <div class="process__close"><i class="bx bx-x"></i></div>
                    <h3>Gasto.</h3>
                    <p>Olvidó agregar el número de tarjeta de débito en el pago n.° 1323. Agrégalo ahora</p>
                </div>
            </article>
        </section>

    </main>

    <!-- <div class="cuerpo">
        <div class="centro">
            <div class="cabeza">
                <img src="../storage/img/Ellipse 12.svg">
            </div>
            <img class="center" src="../storage/img/Ellipse 19.svg">
            <p class="txt1">Total Balance</p>
            <p class="txt2"><span class="mini">$</span> 214,417</p>
        </div>
        <div class="botones">
            <button class="bot1">Assets</button>
            <button class="bot2">Debt</button>
            <button class="bot3">Income</button>
        </div>
        <div class="tabla">
            <img src="../storage/img/image.png">
        </div>
        <div class="pie">
            <img class="tarj" src="../storage/img/tarjeta.svg">
            <img class="equis" src="../storage/img/equis.svg">
            <h1 class="tit">Spending</h1>
            <p class="txt">You forgot to add debt card number at payment #1323. Add it now</p>
        </div> -->
    </div> 
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>