<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billcoin</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="shortcut icon" href="../storage/img/logo2.png" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/logo2.png">
            </div>
            <div class="logo__titulo">billcoin</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>

    <main class="main">
        <h3 class="main__title">investing tips</h3>
        <section class="main__banner">
            <div class="banner__public">
                <div class="public__logo">
                    <div> 1 </div>
                    <img src="../storage/img/bann.png">
                </div>
                <div class="public__description">
                    <div class="description__close">
                        <i class='bx bx-x'></i>
                    </div>
                    <p>¿Que es el Billcoin?</p>
                    <small>Por Alex Hirsch, DDEG</small>
                    <button>saber más</button>
                </div>
            </div>
        </section>
        <h3 class="main__title2">mis tarjetas (4)</h3>
        <section class="main__cards">
            <article class="cards__item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cards__item">
                <small>**** 5789</small>
                <h2><sub>$</sub> 584,466</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
            <article class="cards__item">
                <small>**** 6175</small>
                <h2><sub>$</sub> 47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cards__item">
                <small>**** 5789</small>
                <h2><sub>$</sub> 584,466</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>